pre.prettyprint {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}
pre.prettyprint.fold {
    height: 5px;
    padding: 0;
    overflow: hidden;
}
ol.linenums {
    padding: 0;
    margin-left: 0;
}
ol.linenums li {
    padding-left: 2em;
    text-indent: -2em;
}
.code-pretty-container {
    position: relative;
    padding-top: 25px;
    margin-bottom: 20px;
}
.code-pretty-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #ddd;
}
.code-pretty-toolbar__title,.code-pretty-toolbar__file {
    display: inline-block;
    padding: 4px 14px 2px;
    border: 1px solid #0b0c0a;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin-right: 12px;
    line-height: 1.75;
    background-color: #1E1F1A;
    box-shadow: inset 2px 3px 1px 0px #3c3d39, 0 -1px 12px rgba(0,0,0,0.5);
    font-size: 12px;
} 
.code-pretty-toolbar__file {
   position: absolute;
   right: 0;
   margin-right: 0;
   color: #fff;
   box-shadow: inset -2px 3px 1px 0px #3c3d39, 0 -1px 12px rgba(0,0,0,0.5);
}
.code-pretty-toolbar__expand {
    position: absolute;
    bottom: 0;
    width: 26px;
    height: 26px;
    border-radius: 5px 5px 0 0;
    background: #1E1F1A;
    box-shadow: inset 2px 3px 1px 0px #3c3d39, 0 -1px 12px rgba(0,0,0,0.5);
    cursor: pointer;
}
.code-pretty-toolbar__expand:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background:#ddd;
    content: '';
    transform:translate(-50%,-50%);
}
.code-pretty-toolbar__expand:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 50%;
    background:#ddd;
    content: '';
    transform:translate(-50%,-50%);
}
.code-pretty-toolbar__expand.active:after {
    display: none;
}